body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.top-heading{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-left: -115px;
    
}
.side-line{
    width:4px;
    border-radius: 20px;
    background-color: tomato;
    height: 110px;
    margin-top: 55px;
    margin-right: 10px;
}
.golden-color{
    color:rgb(195, 110, 13);
    margin-top: -15px;
}
.top-banner{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 10%;
}
.half-width img{
    width:70%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding:5px 40px;
    border-radius:5px;
}
.My-Mission-in-2022{
    text-align: center;
}
.mission-card{
    display:flex;
    justify-content:space-evenly;
    /* align-items: center; */
}
.mission-image{
    width:50%;
    margin-left: 25%;
}
.card{
    text-align:left ;
    /* margin: 20px; */
    border-radius: 20px;
    padding: 10px;
    height: 350px;
    width:300px;
}
.card-one{
    background-color:#a1e2c16e ;
}
.card-two{
    background-color:#daba9063 ;
}
.card-three{
    background-color:#c27f5365 ;
}
.develop-section{
    display: flex;
    align-items:center;
    margin-top: 100px;
}
.develop-img{
    width:40%;
    position: relative;
    left: 100px;
    z-index: 999;
}
.develop-back{
    width:15%;
    position: relative;
    left: -230px;
    top: -120px;
    z-index: 1;
}
.develop-text{
    position: relative;
    left: -300px;
    margin-top: -35px;
    width:180%;
}
.develop-img-alt{
    width: 35%;
    position: relative;
    z-index: 999;
    left: -80px;
}
.develop-alt{
    display: flex;
    align-items:center;
    margin-top: 100px;
    align-items: flex-end;
    position: relative;
    right: -550px;
    /* justify-content: end; */
}
.develop-back-alt{
    width:15%;
    position: relative;
    z-index: 1;
    right: 150px;
    top: 50px;
    /* left: -310px;
    top: -100px; */
}
.develop-text-alt{
    position: relative;
    left: -450px;
    width: 150%;
}
.develop-image-alt{
    margin-left: -200px;
}
.corona{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.app-photo{
    position: relative;
    right: -200px;
}
.app-text{
    position: relative;
    left: -180px;
    width:100%;
}
.shape1{
    width: 20%;
    position: relative;
    z-index: 1;
    left:-370px; 
    top:-450px;
}
.shape2{
    width: 15%;
    position: relative;
    z-index: 1;
    left: -520px;
}
.shape3{
    width: 14%;
    position: relative;
    z-index: 1;
    left: -420px;
    top: -120px;
}